.navbar.navbar-inverse
      .navbar-inner
        a.brand(href='#')
          img(src='img/logo.png')
        button.btn.btn-navbar.visible-phone(type='button', data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .nav-collapse.collapse.visible-phone.mobile-menu
          ul.nav
            li.active
              a(href='#') Home
            li
              a(href='#') Charts
            li
              a(href='#') Users
            li
              a(href='#') Forms
            li
              a(href='#') Gallery
            li
              a(href='#') Icons
            li
              a(href='#') Calendar
            li
              a(href='#') Tables
            li
              a(href='#') UI Elements
        ul.nav.pull-right
          li.hidden-phone
            input.search(type='text')
          li.dropdown
            a.dropdown-toggle.hidden-phone(href='#', data-toggle='dropdown')
              | Your account
              b.caret
            ul.dropdown-menu
              li
                a(href='#') Personal info
              li
                a(href='#') Account settings
              li
                a(href='#') Billing
              li
                a(href='#') Export your data
              li
                a(href='#') Send feedback
          li.settings
            a(href='#', role='button')
              span.navbar_icon
          li#fat-menu.dropdown
            a.logout(href='#', role='button')
              span.navbar_icon
