#sidebar-nav.hidden-phone
      ul#dashboard-menu
        li.active
          .pointer
            .arrow
            .arrow_border
          a.tab1(href='/')
            i.sidebar-charts
            span Dashboard
        li
          a.tab2(href='/freshbooks-api')
            i.sidebar-widgets
            span Apps
        li
          a.tab3(href='#')
            i.sidebar-forms
            span Forms
        li
          a.tab4(href='#')
            i.sidebar-gallery
            span Gallery
        li
          a.tab5(href='#')
            i.sidebar-widgets
            span Icons
        li
          a.tab6(href='#')
            i.sidebar-calendar
            span Calendar
        li
          a.tab7(href='#')
            i.sidebar-tables
            span Tables
        li
          a.tab8(href='#')
            i.sidebar-ui
            span UI Elements
        li
          a.tab9(href='#')
            i.sidebar-gear
            span My Info
        li
          a.tab10(href='#')
            i.sidebar-logout
            span Login page
