#sidebar-nav
  ul#dashboard-menu
                - if(selected === 'index')
                    li.active
                      .pointer
                        .arrow
                        .arrow_border
                      a(href='/')
                        i.icon-dashboard
                        span Dashboard
                - else
                    li
                      a(href='/')
                        i.icon-dashboard
                        span Dashboard
                - if(selected === 'reports')
                    li.active
                      .pointer
                        .arrow
                        .arrow_border
                      a(href='/reports')
                        i.icon-signal
                        span Reports
                - else
                    li
                      a(href='/reports')
                        i.icon-signal
                        span Reports
                - if(selected === 'users')
                    li.active
                      .pointer
                        .arrow
                        .arrow_border
                      a(href='/users')
                        i.icon-group
                        span Users
                - else
                    li
                      a(href='/users')
                        i.icon-group
                        span Users
                - if(selected === 'clients')
                    li.active
                      .pointer
                        .arrow
                        .arrow_border
                      a(href='/clients')
                        i.icon-briefcase
                        span Clients
                - else
                    li
                      a(href='/clients')
                        i.icon-briefcase
                        span Clients
                - if(selected === 'tasks')
                    li.active
                      .pointer
                        .arrow
                        .arrow_border
                      a(href='/tasks')
                        i.icon-check
                        span Tasks
                - else
                    li
                      a(href='/tasks')
                        i.icon-check
                        span Tasks
                - if(selected === 'at-a-glance')
                    li.active
                      .pointer
                        .arrow
                        .arrow_border
                      a(href='/at-a-glance')
                        i.icon-calendar
                        span At a Glance
                - else
                    li
                      a(href='/at-a-glance')
                        i.icon-calendar
                        span At a Glance
                - if(selected === 'billing')
                    li.active
                      .pointer
                        .arrow
                        .arrow_border
                      a(href='/billing')
                        i.icon-credit-card
                        span Billing
                - else
                    li
                      a(href='/billing')
                        i.icon-credit-card
                        span Billing
                - if(selected === 'connections')
                    li.active
                      .pointer
                        .arrow
                        .arrow_border
                      a(href='/connections')
                        i.icon-code-fork
                        span Connections
                - else
                    li
                      a(href='/connections')
                        i.icon-code-fork
                        span Connections
                - if(selected === 'settings')
                    li.active
                      .pointer
                        .arrow
                        .arrow_border
                      a(href='/setup')
                        i.icon-cogs
                        span Settings
                - else
                    li
                      a(href='/setup')
                        i.icon-cogs
                        span Settings