link(rel='stylesheet', href='css/lib/fullcalendar.css', type='text/css')
link(rel='stylesheet', href='css/lib/fullcalendar.print.css', type='text/css', media='print')
link(rel='stylesheet', href='css/compiled/calendar.css', type='text/css', media='screen')
- var selected ='at-a-glance';
include includes/navbar
include includes/sidemenu
include content/at-a-glance