link(rel='stylesheet', href='css/compiled/form-showcase.css', type='text/css', media='screen')
link(href='css/lib/bootstrap-wysihtml5.css', type='text/css', rel='stylesheet')
link(href='css/lib/uniform.default.css', type='text/css', rel='stylesheet')
link(href='css/lib/select2.css', type='text/css', rel='stylesheet')
link(href='css/lib/bootstrap.datepicker.css', type='text/css', rel='stylesheet')
link(href='css/lib/font-awesome.css', type='text/css', rel='stylesheet')
- var selected ='billing';
include includes/navbar
include includes/sidemenu
include content/billing