.modal-content
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
    h4.modal-title User activation
  .modal-body
    p.text-center.lead <%= name %>
    form#actvUsrForm.form-horizontal
      .control-group
        label.control-label(for="pass") Choose a password
        .controls
          input#pass.span3(placeholder="password", type="password", name="password", required)
  .modal-footer.form-actions
    button#confirm.btn.btn-success(type="submit", data-dismiss="modal", form='actvUsrForm') ok
