thead
  tr
    th.span4
      | Name
    th.span3
      span.line
      | Hours Billed this Month
    th.span2
      span.line
      | Tickets Total
    th.span3.align-right
      span.line
      | Open Tickets
tbody