#pad-wrapper
  .table-wrapper.users-table(style="margin-bottom: 40px;")
    .row-fluid.head
      .span12
        h2 Clients
    .row-fluid.filter-block
      .pull-right
        input.search.user-search(type='text', placeholder='Search for Clients..')
    #table.row-fluid
    .row-fluid
      .btn-group
          button.btn.glow.icon
            i.icon-plus  Add Clients
          button.btn.glow.dropdown-toggle(data-toggle='dropdown')
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Import from Zendesk
            li
              a(href='#') Import from FreshBooks
            li
              a(href='#') Add Manually
        .span
    #pagination
