.modal-content
.modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
    h4.modal-title Drag and drop to add
  .modal-body
    h4.offset1.span Actual
    h4.offset4 Avialable
    ul.nav.nav-tabs.nav-stacked.span3
    ul.nav.nav-tabs.nav-stacked.span3
      |<% _.each(items, function(item){ %>
      li
        a <%= item.organization %>
      |<% }); %>
  .modal-footer
    button#confirm.btn.btn-success(data-dismiss="modal") SAVE
