#pad-wrapper.new-user
  .row-fluid.header
    h3 Create a new user
  .row-fluid.form-wrapper
    //
       left column
    .span9.with-sidebar
      .container
        form.new_user_form.inline-input
          .span12.field-box
            label Name:
            input.span9(type='text', name="name" , required)
          .span12.field-box
            label Email:
            input.span9(type='text', name="email" , required)
            .alert.alert-error.hide.span9.offset1
          .span12.field-box
            label Phone:
            input.span9(type='text', name="phone")
          .span12.field-box
            label Website:
            input.span9(type='text', name="website")
          .span12.field-box
            label Address:
            .address-fields
              input.span12(type='text', placeholder='Street address', name="street")
              input.span12.small(type='text', placeholder='City', name="city")
              input.span12.small(type='text', placeholder='State', name="state")
              input.span12.small.last(type='text', placeholder='Postal Code', name="postal")
          .span12.field-box.textarea
            label Notes:
            textarea.span9(name="notes")
            span.charactersleft 90 characters remaining. Field limited to 100 characters
          .span11.field-box.actions
            input.btn-glow.primary(type='submit', value='Create user')
            span OR
            input.reset(type='reset', value='Cancel')
    //
       side right column
    .span3.form-sidebar.pull-right
      .btn-group.toggle-inputs.hidden-tablet
        button.glow.left.active(data-input='inline') INLINE INPUTS
        button.glow.right(data-input='normal') NORMAL INPUTS
      .alert.alert-info.hidden-tablet
        i.icon-lightbulb.pull-left
        | Click above to see difference between inline and normal inputs on a form
      h6 Sidebar text for instructions
      p Add multiple users at once
      p Choose one of the following file types:
      ul
        li
          a(href='#') Upload a vCard file
        li
          a(href='#') Import from a CSV file
        li
          a(href='#') Import from an Excel file
