#pad-wrapper
  //
     morris stacked chart
  .row-fluid
    h4.title Morris.js stacked
    .span12
      h5 Quarterly Apple iOS device unit sales
      br
      #hero-area(style='height: 250px;')
  //
     morris graph chart
  .row-fluid.section
    h4.title
      | Morris.js
      small Monthly growth
    .span12.chart
      #hero-graph(style='height: 230px;')
  //
     jQuery flot chart
  .row-fluid.section
    h4.title
      | jQuery Flot
      small Monthly growth
      .btn-group.pull-right
        button.glow.left DAY
        button.glow.middle.active MONTH
        button.glow.right YEAR
    .span12
      #statsChart
  //
     morris bar & donut charts
  .row-fluid.section
    h4.title
      | Morris.js
    .span6.chart
      h5 Devices sold
      #hero-bar(style='height: 250px;')
    .span5.chart
      h5 Month traffic
      #hero-donut(style='height: 250px;')
  //
     jQuery knobs
  .row-fluid.section
    h4.title jQuery Knob
    .row-fluid
      .span3
        input.knob.second(type='text', value='50', data-thickness='.3', data-inputcolor='#333', data-fgcolor='#30a1ec', data-bgcolor='#d4ecfd', data-width='140')
      .span3
        input.knob.second(type='text', value='75', data-thickness='.3', data-inputcolor='#333', data-fgcolor='#8ac368', data-bgcolor='#c4e9aa', data-width='140')
      .span3
        input.knob.second(type='text', value='35', data-thickness='.3', data-inputcolor='#333', data-fgcolor='#5ba0a3', data-bgcolor='#cef3f5', data-width='140')
      .span3
        input.knob.second(type='text', value='85', data-thickness='.3', data-inputcolor='#333', data-fgcolor='#b85e80', data-bgcolor='#f8d2e0', data-width='140')
