.modal-content
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
    h4.modal-title Success
  .modal-body
    p
      h3 <%= name + ' added' %>
  .modal-footer.form-actions
    button#confirm.btn.btn-success(type="button", data-dismiss="modal") ok
