.content
  .container-fluid
    #pad-wrapper.new-user
      .row-fluid.header
        h3 Add New Task Template
      .row-fluid.form-wrapper
        .container
            ol.sortable
              li#list_1
                div
                  span.disclose
                    span
                  | Item 1
                ol
                  li#list_2
                    div
                      span.disclose
                        span
                      | Sub Item 1.1
                    ol
                      li#list_3
                        div
                          span.disclose
                            span
                          | Sub Item 1.2
                li#list_4
                  div
                    span.disclose
                      span
                    | Item 2
                  li#list_5
                    div
                      span.disclose
                        span
                      | Item 3
                    ol
                      li#list_6.mjs-nestedSortable-no-nesting
                        div
                          span.disclose
                            span
                          | Sub Item 3.1 (no nesting)
                        li#list_7
                          div
                            span.disclose
                              span
                            | Sub Item 3.2
                          ol
                            li#list_8
                              div
                                span.disclose
                                  span
                                | Sub Item 3.2.1
                    li#list_9
                      div
                        span.disclose
                          span
                        | Item 4
                      li#list_10
                        div
                          span.disclose
                            span
                          | Item 5

                //https://github.com/mjsarfatti/nestedSortable/blob/master/README.md\\
script(src='/js/nestedSortable/jquery-1.7.2.min.js')
script(src='/js/nestedSortable/jquery-ui-1.8.16.custom.min.js')
script(src='/js/nestedSortable/jquery.ui.touch-punch.js')
script(src='/js/nestedSortable/jquery.mjs.nestedSortable.js')
script(src='http://code.jquery.com/jquery-latest.js')
script(src='/js/bootstrap.min.js')
script(src='/js/theme.js')
script(type='text/javascript')
      $(document).ready(function(){
      $('ol.sortable').nestedSortable({
      forcePlaceholderSize: true,
      handle: 'div',
      helper: 'clone',
      items: 'li',
      opacity: .6,
      placeholder: 'placeholder',
      revert: 250,
      tabSize: 25,
      tolerance: 'pointer',
      toleranceElement: '> div',
      maxLevels: 3,
      isTree: true,
      expandOnHover: 700,
      startCollapsed: true
      });
      $('.disclose').on('click', function() {
      $(this).closest('li').toggleClass('mjs-nestedSortable-collapsed').toggleClass('mjs-nestedSortable-expanded');
      })
      $('#serialize').click(function(){
      serialized = $('ol.sortable').nestedSortable('serialize');
      $('#serializeOutput').text(serialized+'\\n\n');
      })
      $('#toHierarchy').click(function(e){
      hiered = $('ol.sortable').nestedSortable('toHierarchy', {startDepthCount: 0});
      hiered = dump(hiered);
      (typeof($('#toHierarchyOutput')[0].textContent) != 'undefined') ?
      $('#toHierarchyOutput')[0].textContent = hiered : $('#toHierarchyOutput')[0].innerText = hiered;
      })
      $('#toArray').click(function(e){
      arraied = $('ol.sortable').nestedSortable('toArray', {startDepthCount: 0});
      arraied = dump(arraied);
      (typeof($('#toArrayOutput')[0].textContent) != 'undefined') ?
      $('#toArrayOutput')[0].textContent = arraied : $('#toArrayOutput')[0].innerText = arraied;
      })
      });
      function dump(arr,level) {
      var dumped_text = "";
      if(!level) level = 0;
      //The padding given at the beginning of the line.
      var level_padding = "";
      for(var j=0;j<level+1;j++) level_padding += "    ";
      if(typeof(arr) == 'object') { //Array/Hashes/Objects
      for(var item in arr) {
      var value = arr[item];
      if(typeof(value) == 'object') { //If it is an array,
      dumped_text += level_padding + "'" + item + "' ...\\n";
      dumped_text += dump(value,level+1);
      } else {
      dumped_text += level_padding + "'" + item + "' => \\"" + value + "\"\n";
      }
      }
      } else { //Strings/Chars/Numbers etc.
      dumped_text = "===>"+arr+"<===("+typeof(arr)+")";
      }
      return dumped_text;
      }

