#pad-wrapper.users-list
  .row-fluid.header
    h3 Search
    .span10.pull-right
      input.span5.search(type='text', title='Type a user\'s name...')
      //
         custom popup filter
      //
         styles are located in css/elements.css
      //
         script that enables this dropdown is located in js/theme.js
      .ui-dropdown
        .head(data-toggle='tooltip', title='Click me!')
          | Filter Results
          i.arrow-down
        .dialog
          .pointer
            .arrow
            .arrow_border
          .body
            p.title
              | Show logs where:
            .form
              select
                option Client
                option User
                option Ticket
                option Task
                option Hours
              select
                option is equal to
                option is not equal to
                option is greater than
                option starts with
                option contains
              input(type='text')
              a.btn-flat.small Add filter



  .table-wrapper.orders-table
          .row-fluid
            .span4
              .field-box
                label Start Date:
                input.input-large.startDate(type='text', value='03/29/2013')
            .span4
              .field-box
                label End Date:
                input.input-large.endDate(type='text', value='04/29/2013')
            .span3
              label Status:
              .btn-group
                button.glow.left.large In Progress
                button.glow.middle.large Completed
                button.glow.right.large.active All

            .row-fluid
              table.table.table-hover
                thead
                  tr
                    th.span1
                      | Ticket
                    th.span1
                      | Date
                      span.line
                    th.span1
                      span.line
                      | User
                    th.span1
                      span.line
                      | Status
                    th.span1
                      span.line
                      | Hours
                    th.span1
                      span.line
                      | Client
                    th.span1
                      span.line
                      input(type='checkbox')
                      .btn-group.settings
                        button.btn.small.inverse.dropdown-toggle(data-toggle='dropdown')
                          span.caret
                        ul.dropdown-menu
                          li
                            a(href='#') Delete
                          li
                            a(href='#') Archive
                          li
                            a(href='#') Export
                          li
                            a(href='#') Push to Freshbooks
                tbody
                  //
                     row
                  tr.first
                    td
                      a(href='#') #459
                    td
                      | Jan 03, 2013
                    td
                      a(href='#') John Smith
                    td
                      span.label.label-success Completed
                    td
                      | 3
                    td
                      a(href='#') Microsoft
                    td
                      input(type='checkbox')
                  tr
                    td
                      a(href='#') #510
                    td
                      | Feb 22, 2013
                    td
                      a(href='#') Anna Richards
                    td
                      span.label.label-info In Progress
                    td
                      | 5
                    td
                      a(href='#') Apple, Inc.
                    td
                      input(type='checkbox')
                  tr
                    td
                      a(href='#') #590
                    td
                      | Mar 03, 2013
                    td
                      a(href='#') Steven McFly
                    td
                      span.label.label-success Completed
                    td
                      | 2
                    td
                      a(href='#') Google, Inc.
                    td
                      input(type='checkbox')
                  tr
                    td
                      a(href='#') #618
                    td
                      | Jan 03, 2013
                    td
                      a(href='#') George Williams
                    td
                      span.label.label-info In Progress
                    td
                      | 8
                    td
                      a(href='#') AOL
                    td
                      input(type='checkbox')

      .row-fluid
        .btn-group.pull-left
          label Results Per Page
          button.glow.left.large.active 25
          button.glow.middle.large 50
          button.glow.right.large.inverse 100
        .pagination.pull-right
          ul
            li
              a(href='#') ‹
            li
              a.active(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#') ›


      //
         end users table
//
   end main container
//
script(src='js/jquery-ui-1.10.2.custom.min.js')
script(src='js/wysihtml5-0.3.0.js')
script(src='http://code.jquery.com/jquery-latest.js')
script(src='js/bootstrap.min.js')
script(src='js/bootstrap-wysihtml5-0.0.2.js')
script(src='js/bootstrap.datepicker.js')
script(src='js/jquery.uniform.min.js')
script(src='js/select2.min.js')
script(src='js/theme.js')
  // call this page plugins
script(type='text/javascript')
  $(function () {
  // add uniform plugin styles to html elements
  $("input:checkbox, input:radio").uniform();
  // select2 plugin for select elements
  $(".select2").select2({
  placeholder: "Select a State"
  });
  // datepicker plugin
  $('.startDate').datepicker().on('changeDate', function (ev) {
  $(this).datepicker('hide');
  });
  $('.endDate').datepicker().on('changeDate', function (ev) {
  $(this).datepicker('hide');
  });
  // wysihtml5 plugin on textarea
  $(".wysihtml5").wysihtml5({
  "font-styles": false
  });
  });