td
  img.img-circle.avatar.hidden-phone(src='img/contact-img.png')
  a.name(href='/user-profile') <%= name %>
  span.subtext Graphic Design
td
  | 0
td
  | 0
td.align-right
  .progress.progress-info.progress-striped(style='margin-bottom: 9px;')
    .bar(style='width: 50%;')