#pad-wrapper.users-list
  .row-fluid.header
    h3 Users
    .span10.pull-right
      input.span5.search(type='text', placeholder='Type a user\'s name...')
      //
         custom popup filter
      //
         styles are located in css/elements.css
      //
         script that enables this dropdown is located in js/theme.js
      .ui-dropdown
        .head(data-toggle='tooltip', title='Click me!')
          | Filter users
          i.arrow-down
        .dialog
          .pointer
            .arrow
            .arrow_border
          .body
            p.title
              | Show users where:
            .form
              select
                option Name
                option Email
                option Number of orders
                option Signed up
                option Last seen
              select
                option is equal to
                option is not equal to
                option is greater than
                option starts with
                option contains
              input(type='text')
              a.btn-flat.small Add filter
      a#new-user.btn-flat.success.pull-right(href='#')
        span +
        | NEW USER
  //
     Users table
  #table.row-fluid
  .row-fluid
      .btn-group
          button.btn.glow.icon
            i.icon-plus  Add Users
          button.btn.glow.dropdown-toggle(data-toggle='dropdown')
            span.caret
          ul.dropdown-menu
            li
              a#zendesk(href='#') Import from Zendesk
            li
              a#freshbooks(href='#') Import from FreshBooks
            li
              a#manually(href='#') Add Manually
        .span
  #pagination
