thead
  tr
    th.span4.sortable
      | Name
    th.span3.sortable
      span.line
      | Total Hours Logged
    th.span2.sortable
      span.line
      | Billable Hours Logged
    th.span3.sortable.align-right
      span.line
      | Quota Progress
tbody
