#sidebar-nav
  ul#dashboard-menu
    li
      a(href='dashboard')
        i.icon-dashboard
        span Dashboard
    li
      a(href='reports')
        i.icon-signal
        span Reports
    li
      a(href='users')
        i.icon-group
        span Users
    li
      a(href='clients')
        i.icon-briefcase
        span Clients
    li
      a(href='tasks')
        i.icon-check
        span Tasks
    li
      a(href='organizer')
        i.icon-calendar
        span At a Glance
    li
      a(href='billing')
        i.icon-credit-card
        span Billing
    li
      a(href='entries')
        i.icon-time
        span Time Entries
    li
      a(href='setup')
        i.icon-cogs
        span Settings