extends extends/layout
block content
  .span6.offset6
    .well(style="background-color: #FFF;")
      legend User activation
        p.text-center.lead #{user.name}
      form#actvUsrForm.form-horizontal(method='post', action='/api/activation/#{user.id}')
        .alert.alert-error(class= !error ? 'hide' : '')
          |Passwords must match
        if user.activated
          .alert.alert-success
            a.close(data-dismiss="alert", href="#") x
            |User has been activated
        .control-group(class= user.activated ? 'hide' : '')
          label.control-label(for="pass") Choose a password
          .controls
            input#pass.span3(placeholder="password", type="password", name="password", required)
        .control-group(class= user.activated ? 'hide' : '')
          label.control-label(for="conf-pass") Confirm password
          .controls
            input#conf-pass.span3(placeholder="password", type="password", name="confpassword", required)
        .control-group(class= user.activated ? 'hide' : '')
          .controls
            button#confirm.btn.btn-success.span1(type="submit", data-dismiss="modal", form='actvUsrForm') ok
block scripts
  script
    (function($) {
      $('form').on('submit', function () {
        if ($('#pass').val() != $('#conf-pass').val()) {
          $('.alert-error').show();
          return false;
        }
      })
    })(jQuery);