include includes/navbar
include includes/sidemenu
.content
  .container-fluid
script#arrow-template(type='text/html')
  .pointer
    .arrow
    .arrow_border
script#dashboard-template(type='text/html')
  include content/index
script#reports-template(type='text/html')
  include content/reports
script#users-template(type='text/html')
  include content/users
script#clients-template(type='text/html')
  include content/clients
script#tasks-template(type='text/html')
  include content/tasks
script#organizer-template(type='text/html')
  include content/at-a-glance
script#billing-template(type='text/html')
  include content/billing
script#entries-template(type='text/html')
  include content/time-entries
script#entries-template(type='text/html')
  include content/time-entries
script#setup-template(type='text/html')
  include content/setup

script(src='http://code.jquery.com/jquery-latest.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery-ui-1.10.2.custom.min.js')
//
   flot charts
script(src='js/jquery.flot.js')
script(src='js/jquery.flot.stack.js')
script(src='js/jquery.flot.resize.js')
//
   morrisjs
script(src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
script(src='js/morris.min.js')
//
   call all plugins
script(src='js/theme.js')
//
   knob
script(src='js/jquery.knob.js')


script(type='text/javascript', src='js/app.js')
script(type='text/javascript', src='js/apps/dashboardApp.js')
script(type='text/javascript', src='js/apps/reportsApp.js')
script(type='text/javascript', src='js/apps/usersApp.js')
script(type='text/javascript', src='js/apps/clientsApp.js')
script(type='text/javascript', src='js/apps/tasksApp.js')
script(type='text/javascript', src='js/apps/organizerApp.js')
script(type='text/javascript', src='js/apps/billingApp.js')
script(type='text/javascript', src='js/apps/entriesApp.js')
script(type='text/javascript', src='js/apps/setupApp.js')

script(type='text/javascript')
  App.start();
