link(rel='stylesheet', href='css/compiled/pricing.css', type='text/css', media='screen')
link(rel='stylesheet', href='css/compiled/form-wizard.css', type='text/css', media='screen')
link(rel='stylesheet', href='css/compiled/form-showcase.css', type='text/css', media='screen')
- var selected ='settings';
include includes/navbar
.navbar-false(style='opacity: 0.8;height: 48px;margin-top: -48px;z-index: 999;background-color: #ccc;')
include includes/sidemenu
.sidemenu-fasle(style='position: absolute;width: 178px;float: left;margin: 0em;padding-top: 5.8em;background-color: #ccc;height: 475px;opacity: 0.8;z-index: 999;')
include content/setup