.content
      .pointer
        .arrow
        .arrow_border
      .container-fluid
        #tabs-wrapper
          .row-fluid
            a.span3.tab.active(href='/freshbooks-api')
              | Freshbooks
            a.span3.tab(href='/zendesk-api')
              | Zendesk
        #pad-wrapper.new-user
          .row-fluid.header
            h3 Freshbooks Configuration
          .row-fluid.form-wrapper
            .span9.with-sidebar
              .container
                form.new_user_form.inline-input
                  .span12.field-box
                    label Name:
                    input.span9(type='text', placeholder='Name your Freshbooks Account')
                  .span12.field-box
                    label API URL:
                    input.span9(type='text', placeholder='https://example.freshbooks.com/api/2.1/xml-in')
                  .span12.field-box
                    label Authentication Token:
                    input.span9(type='password', placeholder='Copy from My Account -> FreshBooks API')
                  .span11.field-box.actions
                    input.btn-glow.primary(type='button', value='Update Account')
                    span OR
                    input.reset(type='reset', value='Cancel')
            .span3.form-sidebar.pull-right
              .btn-group.toggle-inputs.hidden-tablet
                button.glow.left.active(data-input='inline') INLINE INPUTS
                button.glow.right(data-input='normal') NORMAL INPUTS
              .alert.alert-info.hidden-tablet
                i.icon-lightbulb.pull-left
                | Click above to see difference between inline and normal inputs on a form
              h6 Sidebar text for instructions
              p Add multiple users at once
              p Choose one of the following file types:
              ul
                li
                  a(href='#') Upload a vCard file
                li
                  a(href='#') Import from a CSV file
                li
                  a(href='#') Import from an Excel file